
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Personal</title>

    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Neucha&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap"
          rel="stylesheet">

    @Styles.Render("~/Content/css")

</head>
<body>
    <div class="wrapper_personal">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="skill_text">Skills.</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 skill__card">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>- Front-end</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ReactJs</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>NextJs</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Material UI</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Tailwind CSS</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>HTML5</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>CSS3</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Bootstrap: 3, 4, 5.</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>JavaScript: ES5, ES6, ES7.</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Responsive Design: Flex Box, Grid Layout, Media Query.</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 skill__card">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>- Back-end</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>NodeJs (ExpressJs)</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>REST API / RESTful API</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Php</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Laravel</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Java</td>
                                <td></td>
                            </tr>
                            <tr>
                            <tr>
                                <td>C, C++</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>API's Integration: Firebase, <br> Other Third Party API</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 skill__card">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>- DataBase</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>MariaDB (PhpMySQL)</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>NoSQL (MongoDB)</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>MSSQL (Microsoft SQL Server</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 skill__card">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>- Version Controls</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>GitHub</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>GitLab</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>BitBucket</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 skill__card">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>- Deployment</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Heroku</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Vercel</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Netlify</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>cPanel</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>GitHub Page</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 skill__card">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>- Issues Tracking</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>GIT</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>JIRA</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Trello</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 skill__card">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>- IDE & Tools</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Visual Studio</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Visual Studio Code</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Sublime</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>IntelliJ IDEA</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 skill__card">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>- UI/UX Tools</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Figma</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Sketch</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Adobe Xd</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Zeplin</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
